.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
    outline: none;
}

.pgl-widget {
    box-sizing: border-box;
    min-width: 400px;
    min-height: 400px;
}

.pgl-resizable{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pgl-jupyter-pgl-widget {
    display: inline-block;
    position: relative;
    min-width: 400px;
    min-height: 400px;
    box-sizing: border-box;
}

.pgl-jupyter-pgl-widget-controls {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 160px;
    height: 99%; /* FIXME: there is an odd height overshoot in jupyter */
    pointer-events: none;
}

.pgl-jupyter-pgl-widget-progress {
    position: absolute;
    top: 0px;
    padding: 15px;
    pointer-events: none;
    --mdc-typography-body1-font-size: 12px;
    --mdc-typography-body2-font-size: 12px;
    --mdc-typography-body2-color: white;
    --mdc-theme-secondary: rgb(75, 75, 75);
    --mdc-theme-primary: #F37726;
    --mdc-icon-size: 30px;
    --mdc-button-size: 35px;
}

.pgl-jupyter-pgl-widget-controls-container {
    padding: 5px;
    height: 100%;
    pointer-events: none;
    overflow-y: auto;
    overflow-x: hidden;
    --mdc-typography-body1-font-size: 12px;
    --mdc-typography-body2-font-size: 12px;
    --mdc-typography-body2-color: white;
    --mdc-theme-secondary: #F37726;
    --mdc-theme-primary: rgb(75, 75, 75);
    --mdc-icon-size: 30px;
    --mdc-button-size: 35px;
    --mdc-switch-selected-handle-color: #F37726;
    --mdc-switch-selected-hover-handle-color: #F37726;
    --mdc-switch-selected-pressed-handle-color: #F37726;
    --mdc-switch-selected-focus-handle-color: #F37726;
    --mdc-switch-selected-track-color: rgb(100, 100, 100);
    --mdc-switch-selected-hover-track-color: rgb(100, 100, 100);
    --mdc-switch-selected-pressed-track-color: rgb(100, 100, 100);
    --mdc-switch-selected-focus-track-color: rgb(100, 100, 100);
    --mdc-switch-unselected-track-color: rgb(100, 100, 100);
    --mdc-switch-unselected-handle-color: rgb(100, 100, 100);
    --mdc-switch-unselected-hover-handle-color: rgb(100, 100, 100);
    --mdc-switch-unselected-pressed-handle-color: rgb(100, 100, 100);
    --mdc-switch-unselected-focus-handle-color: rgb(100, 100, 100);
}

.pgl-jupyter-pgl-widget-controls-header {
    pointer-events: none;
    float: right;
}

.pgl-jupyter-pgl-widget-controls-body {
    pointer-events: none;
    clear: both;
}

.pgl-jupyter-pgl-widget-controls-header * {
    pointer-events: all;
}

.pgl-jupyter-pgl-widget-controls-body > * {
    display: block;
    pointer-events: all;
    padding: 12px;
}

.pgl-jupyter-lsystem-widget-controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px; /* FIXME: there is an odd height overshoot in jupyter */
    pointer-events: none;
}

.pgl-jupyter-lsystem-widget-controls-container {
    padding: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    --mdc-typography-body1-font-size: 12px;
    --mdc-typography-body2-font-size: 12px;
    --mdc-typography-body2-color: white;
    --mdc-theme-primary: #F37726;
    --mdc-theme-secondary: rgb(75, 75, 75);
    --mdc-icon-size: 30px;
    --mdc-button-size: 35px;
}

.pgl-jupyter-lsystem-widget-controls-container * {
    display: inline;
    pointer-events: all;
}

.pgl-jupyter-lsystem-widget-controls-container mwc-linear-progress {
    margin: 5px 12px;
    display: block;
    text-align: left;
    --mdc-theme-primary: #F37726;
    --mdc-theme-secondary: rgb(75, 75, 75);
}

mwc-icon-button-toggle, mwc-icon-button {
    color: #F37726;
    --mdc-icon-button-ripple-opacity: 0
}

/* .pgl-curve-editor {
    margin: 10px 10px 10px 10px;
} */

.pgl-curve-editor-svg {
    width: 250px;
    min-height: 250px;
    overflow: visible;
    background-color: #f5f5f5;
    display: block;
    margin: auto 0px auto auto;
}

.pgl-curve-editor-svg .grid {
    stroke: lightgrey;
    stroke-width: 1;
    fill: none;
}

.pgl-curve-editor-svg .line {
    stroke: grey;
    stroke-dasharray: 2 2;
    fill: none;
}

.pgl-curve-editor-svg .curve {
    stroke: #F37726;
    fill: none;
    stroke-width: 2;
}

.pgl-curve-editor-svg .point {
    fill: #F37726;
    cursor: pointer;
}

.pgl-curve-editor-svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
