include LICENSE
include *.md
include pyproject.toml

include package.json
include install.json
include ts*.json
include yarn.lock

# Javascript files
graft src
graft css
prune src/pgljs/node_modules
prune src/pgljs/plantgl
prune src/pgljs/debug
prune **/node_modules
prune *.js.map
prune examples
prune coverage
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
